<!-- actions the tabs -->
<% mains = {          contract:     ["Contract",:read],
                      people:     ["Person",:read], 
                      finance: ["Fee",:read]} %><!--Guess the fee should be finance -->
                      
        <% actions = {email:     ["Email",:create],
                      follow_up: ["FollowUp",:create],
                      note:      ["Note",:create],
                      todo:      ["Todo",:create],
                      assign_to: ["Institution",:update]} %>       
        
        <li class="dropdown actions">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                Actions
                    <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
               <%= iterate_tabs(actions,'institution',{tabindex: "-1"}) %>
            </ul>
        </li>
        
        <%= iterate_tabs(mains,'institution') %>
        
        
<br/>
<br/>

