<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.new_institution").show();
  $(".tab-menus li").removeClass("active-tab");
  $("ul.tab-menus li.new_institution").addClass("active-tab");
  $("ul.tab-menus li.new_institution").text('Clone - <%= @institution.name.titleize %>');
  $("ul.tab-menus li.new_institution").attr('data-institution_id', '<%= @institution.id %>');
  $("ul.tab-menus li.new_institution").attr('data-cond', 'clone');
  $("ul.tab-menus li.new_institution").trigger("click");
  activeMM("institutionsMM");
});
</script>


<div class="tab-container">
  <%= render 'enquiries/tabs', :stat => "InstitutionType",:model => "institution"  %>
  <div class="tab-content" id="clone_id">
  </div>

</div>
