<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.all").trigger('click');
    activeMM("institutionsMM");
});

</script>
<div class="tab-container tab-content-theme">
    <%= render 'enquiries/tabs', :stat => "InstitutionType",:model => "institution" %>  
</div>
