<%= form_for(@user_config) do |f| %>
 
        <%= f.label :default_follow_up_days %>
        <%= f.text_field :def_follow_up_days %>
    <div class="cl"></div>
      <br/>
      <br/>      
      <br/>

      <%= f.submit "Save",{class: "btnp"} %>
       

<% end %>
        
