<% @programme.notes.each do |note| %>
          
           <div class="brg0"> </div>
           <br/>
           <%= image_tag(note._created_by.image_url(:thumb),size: "40x40") %>
           <h6>
           <%= note.content %>
           </h6>
           <li>
          <%= link_to note._created_by.first_name,"#" %> &nbsp;&nbsp; <%= note.created_at.strftime("%A, %F %R %p") rescue "Unknown" %></li>
         
         <br/>
          
<% end %>
