<% @programme.notes.each do |note| %>
          
           <div class="brg0"> </div>
           <br/>
           <% u = note._created_by %>
           <%= image_tag((u.image? ? u.image_url : "/images/icons/user.png"),
                               {width: "40",
                                height: "40",
                                class: "imgb"}) %>
           <h6>
           <%= note.content %>
           </h6>
           <li>
          <%= link_to note._created_by.first_name,"#" %> &nbsp;&nbsp; <%= note.created_at.strftime("%A, %F %R %p") rescue "Unknown" %></li>
         
         <br/>
          
<% end %>
