<!-- show branch -->
<% a = @student_source %>
<div class="row">
              <div class="row row-top ">
                <div class="col-md-6">
                  <div class="col-md-4 text-right light">Name</div>
                  <div class="col-md-8"><%= a.name %></div>
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Manager</div>
                  <div class="col-md-8"><%= a.contact_type.name rescue "No Channel" %></div> 
                  <div style="clear:both;"></div>
                  <div class="col-md-4 text-right light">Description</div>
                  <div class="col-md-8"><%= a.desc %></div> 
                  <div style="clear:both;"></div>
                </div>
               </div>
</div>