<p id="notice"><%= notice %></p>

<p>
  <b>Index:</b>
  <%= @student_source.index %>
</p>


<%= link_to 'Edit', edit_student_source_path(@student_source) %> |
<%= link_to 'Back', student_sources_path %>
