<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <b>Dear Human</b>
  
  <p>
  1. Important details given below. <br/>
  2. Scraped List given below below.<br/>
  3. Logs attached.<br/>
  </p>
  <p>===================================</p>
  
  <%= @body.html_safe %>
  
  <p>===================================</p>

  
  <p>===================================</p>
  
  P.S: The log files attached has the details of every link scraped for today. Not for this session. Please be informed!
  <p>
  <b>Happy Being!</b>
  </p> 
  </body>
</html>
