<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.all").trigger('click');
    activeMM("peopleMM");
});

</script>
<div class="tab-container tab-content-theme">
    <%= render 'enquiries/tabs', :stat => "PersonType",:model => "person" %>  
</div>
