<!-- new follow up on calendar click -->
            <div class="modal fade" id="cal_create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                    </button>
                    <h3>
                        Create
                        <a class="togglerb" onclick="showHide('new_todo','new_follow_up');" href="#"> 
                          Event
                        </a>
                          Or
                        <a href="#" class="togglerb" onclick="showHide('new_follow_up','new_todo');">
                          Todo
                        </a>
                    </h3>
                  </div>
                  <div class="modal-body">
                      <div id="new_follow_up"> 
                        <%= render 'cal_follow_up' %>
                      </div>
                      <div id="new_todo" style="display: none;">
                        <%= render 'cal_todo' %>
                      </div>
                  </div><!-- modal-body -->
                  <div class="modal-footer">
                    <button type="button"  data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

