<!-- Calendar -->
<div class="tab-container">
    <div class="tab-content" style="display: block;">
        <div class="boxp box-theme-ch">
         <ul class="vls">
          <li>
          <img src="/images/icons/org_calender.png" width="25"/>
              <h2>Your Calendar
              </h2>
           </li>

         </ul>
<br/>
<div>
<small>
Choose a date(click) or a date range(click & drag) to create a follow up/todo
</small>

<div class="fr brg0">
<ul class="theme-colrs-lg">
<li><span class="blue-theme-todo"></span>&nbsp;Todos</li>
<li><span class="blue-theme-followup"></span>&nbsp;Follow Ups</li></ul></div>
<br/>
<br/>
<div class="brg01"></div>
<div class="cl"></div>
</div>
<br/>


 
            <div id='calendar'> 
            </div>
            <div class='cal_click_container'> 
            </div>
            <span class="bClose" >
            </span>
         
          
        </div>
    </div>
</div>

<script>
$(function(){
    activeMM("calendarMM");
});
</script>
