<div class="tab-container">
    <div class="tab-content" style="display: block;">
        <div class="boxp box-theme-ch">
            <div id='calendar'> 
            </div>
        </div>
    </div>
</div>

<script>
$(function(){
    activeMM("calendarMM");
});
</script>
