<!-- Calendar -->
<%= head(@follow_up,@follow_up.title,"All Follow Ups",follow_ups_path) %>


<div class="row">
<%= render 'show', a: @follow_up %>
</div>



<script>
$(function(){
    activeMM("calendarMM");
});
</script>