<!-- Calendar -->
<div class="tab-container">
    <div class="tab-content" style="display: block;">
        <div class="boxp box-theme-ch">
          <%= render 'show_hover' %>
          
        </div>
    </div>
</div>

<script>
$(function(){
    activeMM("calendarMM");
});
</script>
