<div class="row well">
	<div id="container">
	</div>
</div>


<div class="row well">
	<table class="table table-bordered">
		<thead>			
			<% @table_header.each do |u| %>
     			<th class="text-center"><h5><strong> <%= u %> </strong></h5> </th>
			<% end %>
		</thead>
		<tbody>			
			<% @ordered_output.each do |course_level| %>
			   <tr> 
               <td class="text-center"><h4> <%= course_level.name %></h4></td>
               <td class="text-center"><h4><strong> <%= @table_data[course_level.id] %></strong></h4> </td>               
			   </tr>
			<% end %>		    
		</tbody>

	</table>
</div>

<script type="text/javascript">
 $('#container').highcharts({
        chart: {
            type: 'pie',
            options3d: {
				enabled: true,
                alpha: 45
            }
        },
        title: {
            text: 'Contents of Highsoft\'s weekly fruit delivery'
        },
        subtitle: {
            text: '3D donut in Highcharts'
        },
        plotOptions: {
            pie: {
                innerSize: 100,
                depth: 45
            }
        },
        series: [{
            name: 'Delivered amount',
            data: [
                ['Bananas', 8],
                ['Kiwi', 3],
                ['Mixed nuts', 1],
                ['Oranges', 6],
                ['Apples', 8],
                ['Pears', 4], 
                ['Clementines', 4],
                ['Reddish (bag)', 1],
                ['Grapes (bunch)', 1]
            ]
        }]
    });

</script>