<!--Analytics -->
<%= head(nil,"Analytics","Analytics List",analytics_path) %>

<%= render 'filter' %>
<h4 class="row">
	<strong>
	  <% count = "(<span class='bred'>" + @ordered_output.length.to_s + "</span>)" %>	
	  <%= @page_header.gsub(/<<size>>/,count).html_safe %>
    </strong>
</h4>

<%= render @partial %>

<script type="text/javascript">
  actmm("reports")       
</script>
