<!-- actions the tabs -->
<% mains = {          contract:     ["Contract",:read],
                      people:     ["Person",:read],
                      finance: ["Finance",:read],
                      students: ["Student",:read],
                      document: ["Document", :read]} %>
<% if current_user.is_a?(User) %>
<% actions = {email:     ["Email",:create],
                        follow_up: ["FollowUp",:create],
                        note:      ["Note",:create],
                        task:      ["Task",:create],
                        assign_to: ["Partner",:update]} %>

                    <li class="dropdown actions">
                        <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                            Actions
                            <b class="caret"></b>
                        </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                <%= iterate_tabs(actions,'partner',{tabindex: "-1"}) %>
                            </ul>
                            </li>
<% end %>
<%= iterate_tabs(mains,'partner') %>

<br/>
<br/>
