<!-- intro of partner form -->
<div class="row row-top">
      <h5>Create or Edit an Partner. Begin by clicking "next".</h5>
</div>
<div class="row"></div>
<div class="row text-center">
<%= image_tag "/images/icons/building.png",{size: "400x400"} %>
</div>
