<!-- people linked with this partner -->
<div class="row well border-b">

  <h4 class="bold-subhead"> People </h4>

<% obj.people.each do |i| %>
  <% @person = i %>
  <% a = i %>
  
  <div class="row border-b">
    <h4> <%= link_to a.name, a %> <span class="sm"> Click here for detailed view</span></h4>

  </div>
  <br/>
  <div class="row">
  <div class="col-xs-3">
     <%= render 'images/disp', core: "person", a: a %>
  </div>    

  <div class="col-xs-5">
    <ul class="vlsdet">
      <% %w(designation email mobile gender date_of_birth skype facebook).each do |v| %>
          <%= li1(v,v,'span','small',a)%>
      <% end %>
    </ul>
  </div>
  
  <div class="col-xs-4">
    <ul class="vlsdet-s">   
      <%= li1('description','desc','span','small',a)%>
    </ul>
  </div>
  </div>
<% end %>
</div>