
        <div class="row">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Ref No</th>
                <th>Name</th>
                <th>Parter Type</th>
                <th>Parter Name</th>
              </tr>
            </thead>
            <tbody>
              <% obj.registrations.each do |a| %>
                <tr>
                  <td><%= a.ref_no %></td>
                  <td><%= a.name %></td>
                  <td><%= obj.try_chain(:type,:name) %></td>
                  <td><%= obj.name %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
