<ul class="tab-menus1">
<li class="all_users"> 
<%= link_to "All Users", users_path,{size: 12} %>
</li>
<li class = "invite_users">
<%= link_to "Invite Users", new_user_invitation_path %>
</li>
<li class = "roles_path">
<%= link_to "Roles",roles_path %>
</li>
<li class="new_role">
<%= link_to "Add Role",new_role_path %>
</li>

<li class="view_user" style="display:none">

</li>

</ul>
