<!-- User index -->


<div class="row row-top border-b">
    <div class="col-md-10 users">
      <h3>Users</h3>
    </div>
    <div class="col-md-2">
      <div class="form-group form-last pull-right">
        <%= link_to "Invite Users", new_user_invitation_path,{class: "btn btn-primary"} %>
      </div>
    </div>
</div>


<div class="row">
<div class="col-md-12 data-table">

            <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group pull-right">

                    <%= select_tag :abdc,
                      options_for_select(Branch.order(:name).map{|i| [i.name,i.id]}),
                      {prompt: "-all branch-",
                       class: "form-control hor-first",
                       onchange: "filterUsers(this,'branch');"} %>
                       
                     
                  </div>
                </form>
            </div>
            <div class="col-md-3">
                <form class="form-inline" role="form">
                  <div class="form-group pull-right">
            <%= select_tag :abdc,
                      options_for_select(Role.order(:name).map{|i| [i.name.titleize,i.id]}),
                      {prompt: "-all role-",
                       class: "form-control hor-first",
                       onchange: "filterUsers(this,'role');"} %>
                  </div>
                </form>
            </div>
            <br/>
            <br/>
            <div id="users-table">
                <%= render 'table' %>
            </div>

</div>
</div>

<script>
actmm("users");
</script>

