
<ul class="infosm">
  <% a = @registration %>
    <li>
      Full Name : 
      <b>
        <%= a.emer_full_name %>
      </b>
    </li>
    <li>
      Relationship : 
      <b>
        <%= a.emer_relationship %>
      </b>
    </li>
    <li>
      Mobile Number : 
      <b>
        <%= a.emer_mobile %>
      </b>
    </li>
    <li>
      Email : 
      <b>
        <%= a.emer_email %>
      </b>
    </li>
</ul>
