<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.new_registration").show();
  $(".tab-menus li").removeClass("active-tab");
  $("ul.tab-menus li.new_registration").addClass("active-tab");
  $("ul.tab-menus li.new_registration").text('Clone - <%= @registration.first_name.titleize %>');
  $("ul.tab-menus li.new_registration").attr('data-registration_id', '<%= @registration.id %>');
  $("ul.tab-menus li.new_registration").attr('data-cond', 'clone');
  $("ul.tab-menus li.new_registration").trigger("click");
});
</script>


<div class="tab-container">
  <%= render 'enquiries/tabs', :stat => "ApplicationStatus",:model => "registration"  %>
  <div class="tab-content" id="clone_id">
  </div>

</div>
