<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.all").trigger('click');
    activeMM("registrationsMM");
});

</script>
<div class="tab-container">
    <%= render 'enquiries/tabs', :stat => "ApplicationStatus",:model => "registration" %>  
</div>


