<script type="text/javascript">
$(function(){
  $("ul.seperator > li > a.all").trigger('click');
});

</script>

            <div class="row row-top">
              <div class="col-md-10 header">
                <h3><%= model.pluralize %>
              &nbsp;&nbsp;
              <span class="pill-less">
                <span class="glyphicon glyphicon-share mar0"></span>&nbsp;<span>Assign To</span>
              </span>
              &nbsp;&nbsp;
              <span class="pill-less">
              <span class="glyphicon glyphicon-envelope mar0"></span>&nbsp;<span>Email</span>
              </span>
              &nbsp;&nbsp;              
              <span class="pill-less">
              <span class="glyphicon glyphicon-remove mar0"></span>&nbsp;<span>Delete</span>
              </span>
              &nbsp;&nbsp;

              <span class="pill-less">
                <span class="glyphicon glyphicon-play mar0"></span>&nbsp;<span>Progression</span>
              </span>
              &nbsp;&nbsp;
              <span class="pill-less">
              <span class="glyphicon glyphicon-home mar0"></span>&nbsp;<span>Branch</span>
              </span>
              &nbsp;&nbsp;
                
                </h3>
                
              </div>
              <div class="col-md-2">
                <div class="form-group form-last pull-right">
                  <%= link_to "New #{model}",eval(new), {class: "btn btn-primary"} %>
                </div>
              </div>
            </div>
            

  <%= render 'shared/tabs', stat: tab, model: model.downcase %>  



