<!-- all image upload -->
<div class="row">
<%= form_for(@model,html: {class: "form-horizontal"}) do |f| %>

     <%= bs(f,'image',"file_field",['local_image',4],7,8) %>
     <div class="col-xs-8 text-center">
     --Or--
     </div>
     <div class="row">
     </div>
     <br/>
     <%= bs(f,'remote_image_url',"text_field",[nil,4],7,8) %>

     <div class="form-group form-last">
        <%= f.submit "Upload",{class: "btn btn-primary btn-next"} %>
     </div>
<% end %>
</div>
