<div class="row border-b">
	<div class="col-md-8">
	  <h3>
	    All Notifications   
	  </h3>
	</div>
</div>
<div class="row row-top">
  <div class="col-md-8">
    <%= render 'shared/notys' %> 
  </div>
</div>    
