<script type="text/javascript">
$(function(){

  showPopUp('cancan_error');

});

</script>

<div id="cancan_error" class="addNewPop" style="display: block; top: 483px; left: 455px;"> 
  <h2><%= @msg %></h2>
</div>
