<!-- All resources to configure -->
<div class="col-md-3">
  <ul class="nav nav-pills nav-stacked sub-menu">
      <% [  :application_status,:contact_type,
            :course_level,:course_subject,:doc_category,
            :english_level,:enquiry_status,:event_type,
            :exam_type,:qualification,:student_source,
            :todo_topic,:institution_type,:institution_group,
            :contract_doc_category,:person_type,:commission_status,
            :allow_ip,:branch,:role,:smtp,:email_template,
            :commission_claim_status,:progression_status].sort.each do |r| %>
      <% if can? :read, r.to_s.camelize.constantize %>
      <li id='<%= r.to_s %>' >
         <%= link_to r.to_s.titleize.pluralize,"/" + r.to_s.pluralize %>
      </li>
      <% end %>
      <% end %>
  </ul>
</div>
<script>
actmm('configuration')
</script>
