<!-- index page of resources -->

<%= render 'menu' %>


<div class="col-md-9">
  <div class="config-content">
    <div class="row row-top">
      <h3>Configuration</h3>
    </div>
    <div class="row">
      <h4>Click on a resource to configure.</h4>
    </div>
       
  </div>
   
<%= image_tag "/images/icons/cupboard.png",{size: "400x400", align: "middle", style: "padding-top: 50px;"} %>
</div>



