<div class="tab-container">
    <div class="tab-content" style="display: block;">
        <div class="boxp box-theme-ch">
          <ul>
              <% @resources.each do |r| %>
                <li class="<%= r %>">  
                  <%= link_to r.titleize, "#" %>
                </li>
              <% end %>
          </ul>

        </div>
    </div>
</div>

