<script type="text/javascript">
activeMenu("menu4","mainmenu-active","/images/mailb-w.png");
activeSubMenu("rolesubmenuId","submenu-active");
</script>
<!-- HEADER - STARTS -->
<h3>Editing role <small class="infot">An easy to read, often single page, real-time user interface and showing a graphical presentation.</small></h3>
<!-- HEADER - ENDS -->
<!-- START - BREADCRUMB - STARTS -->
<ul class="breadcrumb">
	<li><a href="#">Access</a></li>
	<li><a href="#">Editing role</a></li>
</ul>
<!-- START - BREADCRUMB - ENDS -->


<%= render 'form' %>

