/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require dt-bootstrap
*= require multi-select
*= require fullcalendar
*= require token-input-bootstrappy
*= require bootstrap-markdown.min
*= require custom
*= require datepicker
*/

.well tr.enq_reg td {background: #e1f5e0 !important; }
.well tr.fu_week td {background: #f8f4b0 !important; }
.well tr.fu_now td {background: #f7d0d0 !important; }

.tooltip-c {
  position: absolute;
  font-size: 12px;
  line-height: 1.4;
  cursor: help;
}


strong.checkit{text-decoration:line-through;}
strong.uncheckit{text-decoration:none;}

strong.sm{font-size:12px;}

.cal_todo{background: #004156;}
.cal_follow_up{background: #267ab3;}

.vlsdet{list-style:none;padding:10px 0 10px 0;margin:0}
.vlsdet li{padding:5px 0 0 0;}
.vlsdet li  label{text-align:left;width:130px;white-space:nowrap;display:inline-block}

.vlsdet-s{list-style:none;padding:10px 0 10px 0;margin:0}
.vlsdet-s li{padding:5px 0 0 0;}
.vlsdet-s li  label{text-align:left;width:75px;white-space:nowrap;display:inline-block}
.vlsdet-s li li{padding:5px 0 0 0;text-align:right;}

.vlsdet-l{list-style:none;padding:10px 0 10px 0;margin:0}
.vlsdet-l li{padding:5px 0 0 0;}
.vlsdet-l li label{text-align:left;width:160px;white-space:nowrap;display:inline-block}

.vlsdet-xl{list-style:none;padding:10px 0 10px 0;margin:0}
.vlsdet-xl li{padding:5px 0 0 0;}
.vlsdet-xl li label{text-align:left;width:200px;white-space:nowrap;display:inline-block}

.mar0 {
  margin-right: 0rem; }

.padded{
 padding:0 5px 0 5px;
}

.red-wrong{
  color: #555753;
  background-color:#f7d0d0;
  padding:0 5px 0 5px;
}
 
.green-right{
  color: #555753;
  background-color:#e1f5e0;
  padding:0 5px 0 5px;
}

.yellow-ok{
  color: #555753;
  background-color:#f8f4b0;
  padding:0 5px 0 5px;
}

.blue-main{
  color: #555753;
  background-color:#def1fb;
  padding:0 5px 0 5px;
}

.purple-bonus{
  color: #fff;
  background-color:#ad7fa8;
  padding:0 5px 0 5px;
}

.orange-planned{
  color: #555753;
  background-color:#fce8d2;
  padding:0 5px 0 5px;
}

.white-plain{
  color: #555753;
  background-color:#fafafa;
  padding:0 5px 0 5px;
}

.clear {
  clear: both;
}

.padR30{padding-right: 30px;}
.padR40{padding-right: 40px;}
.padL20{padding-left: 20px;}
.padL10{padding-left: 10px;}
.padT10{padding-top: 10px;}
.padB10{padding-bottom: 10px;}

.clickable{
  cursor: pointer;
  color: #777777;
  text-decoration: underline;
}


.abs-plus{top:0;left:0;display:none;}
.abs-plus-box:hover .abs-plus{display:inline;}
.abs-plus:hover{cursor:pointer}
.rel{position:relative}

.main .main-content .green-well {
    background-color: #e1f5e0; }
  .main .main-content .orange-well {
    background-color: #f9f3ec; }
    .main .main-content .pink-well {
    background-color: #f9f0f6; }
    .main .main-content .blue-box {
    background-color: #f5f8fb; }
    .main .main-content .tag-like {
    color: #fff;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    font-weight: bold;}
    
   .main .main-content .pill-less {
    color: #555753;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    border-radius:10px;
    background-color: #eeeeec;          }
    
    .main .main-content .pilled {
    color: #fff;
    padding: 5px 5px 5px 5px;
    font-size: 10px;
    font-weight: bold;
    border-radius:10px;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    cursor: pointer;          
    background-color: #729fcf;}
    
    .main .main-content .blue {
    background-color: #729fcf; }
     .main .main-content .green {
    background-color: #728c7d }
    .main .main-content .purple {
    background-color: #ad7fa8 }
    .main .main-content .orange {
    background-color: #e9b96e }
    .main .main-content .red1 {
    background-color: #9d4141 }
    .main .main-content .green1 {
    background-color: #4e9a06 }
    
    
    
    .main .main-content .blue-well {
    background-color: #ecf4fa; 
    margin-left: 19px;
    margin-right: 25px;
    padding-top: 15px;
    border: 1px solid #d3d7cf;}
    .main .main-content .white-well {
    background-color: #fff;
    margin-left: 19px;
    margin-right: 25px;
    padding-top: 15px;
    border: 1px solid #d3d7cf;}


