/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require dt-bootstrap
*= require multi-select
*= require fullcalendar
*= require token-input-bootstrappy
*= require custom
*= require jquery-ui-1.10.0.custom

*/


.well tr.enq_reg td {background: #e1f5e0 !important; }
.well tr.fu_week td {background: #f8f4b0 !important; }
.well tr.fu_now td {background: #f7d0d0 !important; }




.tooltip-c {
  position: absolute;
  font-size: 12px;
  line-height: 1.4;
  cursor: help;
}


strong.checkit{text-decoration:line-through;}
strong.uncheckit{text-decoration:none;}

.cal_todo{background: #004156;}
.cal_follow_up{background: #267ab3;}




