.custom-navbar {
    padding-left: 0;
    padding-right: 0;
}

.navbar-default {
    background-color: #A1E9B5;
    border:1px solid #aaaaaa;    
    margin-bottom: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #004156;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    text-decoration: none;
    background-color: #A1E9B5;
    color: #004156;
    border-bottom: 5px solid #004156;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    text-decoration: none;
    background-color: #A1E9B5;
    color: #004156;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
color: #004156;
border-bottom: 5px solid #004156;
background-color: #A1E9B5;
font-weight: bold;
}

.navbar-default .dropdown-menu > li > a:hover, 
.navbar-default .dropdown-menu > .active > a,
.navbar-default .dropdown-menu > .active > a:hover {
  background-color: #A1E9B5;
  color: #004156;
  border: 1px solid #eeeeee;
  font-size: 12px;  
  font-weight: bold;

}

.navbar-default ul.dropdown-menu > li > a  {
  background-color: #ffffff;
  color: #004156;
  border: 1px solid #eeeeee;
  font-size: 12px;
}

.custom-navbar > .sm {
  font-size: 12px;
}

.navbar-default ul.dropdown-menu > li.ml > a  {
  padding-left: 40px;
}