<ul class="tab-menus1">

<li class = "my_emails">
<%= link_to "Emails", new_user_invitation_path %>
</li>

<% if can? :read, EmailTemplate %>
<li class="all_email_templates"> 
<%= link_to "Email Templates", email_templates_path %>
</li>
<% end %>


<% if can? :read,Smtp %>
<li class = "all_smtps">
<%= link_to "Configure SMTP",smtps_path %>
</li>
<% end %>

</ul>
