<script type="text/javascript">
$(function(){

  activeMM("usersMM");
  setColorsFromSession();

  
  $('li.invite_users').addClass('active-tab');
  
  
});

</script>

<div class="tab-container">
<%= render 'users/menus' %>
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch">
<div class="htab">
<h4>
  Invite Users To Organizor
</h4>
</div>
<br/>
<br/>

<%= form_tag("/users/invitation",method: :post,id: 'invite_users') do %>
        <div class="cols">
            <div class="col6 " id="addInviteUserEmail">
                <div class="frbox">
                    <label>Email Address</label>
                    <input name="email[1]" type="text" placeholder="Email Address"/>
                </div>
                <div class="frbox">
                    <label>Email Address</label>
                    <input name="email[2]" type="text" placeholder="Email Address"/>
                </div>
                <div class="frbox">
                    <label>Email Address</label>
                    <input name="email[3]" type="text" placeholder="Email Address"/>
                </div>
          </div>
          </div>
          <div class="cols">
            <div class="col6">
                <div class="frbox">
                    <label>Role</label>
                    <% r = Role.all.reject{|i| i.name == "agency_administrator"} %>
                    <%= select_tag "role_id",
                                   options_from_collection_for_select(r, "id", "title_name"),
                 {:prompt => "--Role--",
                 id: "role_select" } %>
                 </div>
                 <div class="frbox">
                 <label>&nbsp;</label>
                 <input type="submit" class="btnp" value="Invite User"/>
                 </div>
          <br/>
          </div>
          </div><br/><br/>
         
        <div class="cl"></div> 
        <br/>
        <br/>
<% end %>
</div>
</div>
</div>
