        
  <% mains = {  register:  ["Enquiry",:update],
                deactivate: ["Enquiry",:update],
                timeline:   ["Enquiry",:read] }  %>
                
  <% actions = {      email:     ["Email",:create],
                      follow_up: ["FollowUp",:create],
                      note:      ["Note",:create],
                      task:      ["Task",:create],
                      assign_to: ["Registration",:update]} %>
                
  <% @enquiry.registered ? mains.delete(:register) : nil %>
  <% @enquiry.active ? nil : mains.delete(:deactivate) %>
  

        
        <li class="dropdown actions">
            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">
                Actions
                    <b class="caret"></b>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
               <%= iterate_tabs(actions,'enquiry',{tabindex: "-1"}) %>
            </ul>
        </li>
        
       <%= iterate_tabs(mains,'enquiry') %>

        
<br/>
<br/>