        
  <% actions = {email:     ["Email",:create],
                follow_up: ["FollowUp",:create],
                note:      ["Note",:create],
                todo:      ["Todo",:create],
                assign_to: ["Enquiry",:update],
                register:  ["Enquiry",:update],
                deactivate: ["Enquiry",:update],
                timeline:   ["Enquiry",:read] }  %>
                
  <% @enquiry.registered ? actions.delete(:register) : nil %>
  <% @enquiry.active ? nil : actions.delete(:deactivate) %>
  
        <% actions.keys.each do |elem| %>
          <% if can? actions[elem][1],actions[elem][0].constantize %>
            <!--  Shortening variable names -->
            <% e = elem.to_s.titleize %>
              <li id=<%= "#{elem}" %> >
                <%= link_to elem.to_s.titleize,
                    "#",
                     {onclick: "action_partial('enquiries',
                                                            '#{e.downcase.tr(" ", "_")}',
                                                            '#{@enquiry.id}');"} %>
              </li>
          <% end %>
        <% end %>
        
<br/>
<br/>

