<!-- prefer programmes -->
<h4 class="form-heading">Preferred Programmes</h4>
  <%= f.fields_for :programmes do |p| %>
        
        <%= render 'enquiries/programme_details', :p => p, :parent => f.object_name.to_s %>

  <% end %>

  <%= f.link_to_add "Add programme", :programmes %>





