<div class="htab">
             <h5><b>Preferred countries</b></h5>
        </div><br/>
<script>
$(document).ready(function(){
  $('#multiselect').multiSelect('deselect_all');
  <% @enquiry.countries.each do |i| %>
    $("#ms-multiselect .ms-selectable:first-child ul li[ms-value="+ <%= i.id %> + "]").trigger("click");
  <% end %>
  
});  
</script>
 <div class="cols">
  <div class="fbox">
  <label>Search</label>
  <input type="text" size="25" class="searchKey"/>
  </div></div>
  <div class="field">
      
    <a href='#' id='deselect-all'>deselect all</a>
    <%= select_tag("#{f.object_name}[country_ids][]",
                   options_for_select(@countries),
                   {multiple: true,
                    size: 5,
                    include_blank: false, 
                    id: "multiselect"}) %>
  </div>
  <br/>
