<!-- prefer countries -->
<h4 class="form-heading">Preferred Countries</h4>
<br/>  
  <%= prefer_countries(f.object_name,
                       "country_ids",
                       @countries,
                       (@countries.map{|i| i[1]})) %>
  

