  
  <h2> Programmes Interested </h2>
  
  <%= f.fields_for :programmes do |p| %>
    <%= render 'programme_details', :p => p, :parent => f.object_name.to_s %>  
  <% end %>
  
   <%= f.link_to_add "Add more", :programmes %>
