<!-- prefer programmes -->
<% if obj == "enquiry" %>
<h4 class="form-heading">Preferred Programmes</h4>
<% end %>
  <%= f.fields_for :programmes do |p| %>
        
        <%= render 'enquiries/programme_details', :p => p, :parent => f.object_name.to_s %>
        <br/>
  <% end %>
  <div class="row">
    <div class="text-left">
      <%= f.link_to_add "Add Another", :programmes,{class: 'btn-sm btn-default'} %>
    </div>
  </div>





