<!-- prefer countries -->
<h4 class="form-heading">Preferred Countries</h4>
<br/>
<div class="col-xs-12">
  <%= prefer_countries(f.object_name,
                       "country_ids",
                       @countries,
                       (f.object.preferred_countries.map{|i| i.id})) %>
</div>
<script>
actMultiSelect('multiple-select');
</script>


