 <ul class="tab-menus">
            <li lang="tab-content1" id="tab1">
              <%= link_to 'All Enquiries', enquiries_path %>
            </li>
            <li lang="tab-content2" id="tab2">Pending</li>
            <li lang="tab-content3" id="tab3">Following</li>
            <li lang="tab-content4" id="tab4">Dropped</li>
            <li lang="tab-content5" id="tab5" class="fr">
                <%= link_to 'New Enquiry', new_enquiry_path %>
            </li>
</ul>
