<div class="row">
<div class="col-md-12">
<ul class="nav nav-pills seperator">

  <!-- [tab_name,display,class,partial]  -->
  <% tabs =  [["Launch","none","launch","show"], 
              ["All","","all","listing"]] %>
  <% statuses = stat.constantize.all.map{|i| [i.name.capitalize,"","","listing"]} %>
  <% tabs += statuses %>
  <% tabs += [["New " + model.capitalize,"","fr new","form"]] %>

  <% tabs = (!current_user.adm? ? tabs.reject{|j| j[0].downcase == "deactivated" } : tabs ) %>
              
  <% tabs.each do |i| %>

           <% i1 = i[0].tr(" ","_").downcase %>
           
           <li id="<%= i1 %>">
           
             <%= link_to truncate(i[0]),"#",{onclick: model+"TabSwitch(this);",
                                             data: {cond: i1 , partial: i[3] },
                                             lang: i1 + "_id",
                                             class: i1,
                                             style: "display: #{i[1]}",
                                             title: i[0] } %>
             
           </li>
           
           
  <% end %>
</ul>
</div>
</div>

    <div class="tab-content" id="all_id"> </div>

    <% statuses.each do |i| %>
      <div class="tab-content" id="<%= i[0].tr(' ','_').downcase + '_id' %>"> </div>
    <% end %>
    
    <div class="tab-content" id="<%= "new_" + model + "_id" %>"> </div>

