<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.all").trigger('click');
});

$(document).ready(function(){
activeMM("inquiresMM");
});

</script>
<div class="tab-container">
   <%= render 'enquiries/tabs', :stat => "EnquiryStatus",:model => "enquiry" %>  
</div>



