<!-- Enquiry show page -->
<div class="row">
<div class="col-md-10">
  <h4><strong><%= @enquiry.name %></strong></h4>
</div>

<% a = @enquiry %>
<div class="col-md-2">
                <div class="form-group">
                  <select class="form-control">
                    <option>-Actions-</option>
                    <option>Clone</option>
                    <option>Edit</option>
                    <option>Assign</option>
                    <option>Register</option>
                    <option>Deactivate</option>
                  </select>
                </div>
              </div>
</div>


<div class="row">
  <div class="col-md-12">
      <ul class="nav nav-pills seperator">
        <li id="basic" class="active">
          <%= link_to "Basic","/enquiries/#{a.id}/basic" %>
        </li>
        <%= render "actions" %>
      </ul>
      <div id="action_div">
        <%= render @partial, @locals %>
      </div>
  </div>
</div>



<script>

 actmm('enquiries'); 

</script>
