<script type="text/javascript">
$(function(){
  $("ul.tab-menus li.launch").show();
  $(".tab-menus li").removeClass("active-tab");
  $("ul.tab-menus li.launch").addClass("active-tab");
  $("ul.tab-menus li.launch").text('<%= @enquiry.first_name.titleize %>');
  $("ul.tab-menus li.launch").attr('data-enquiry_id', '<%= @enquiry.id %>');
  $("ul.tab-menus li.launch").trigger("click");

});

</script>

<!-- INQUIRY DETAILS - STARTS 
-- disp0, disp1, disp2 is defined in enquiries_helper.rb
-- a will represent @enquiry in this whole file for convenience
-->

<div class="tab-container">
 <%= render 'tabs', :stat => "EnquiryStatus",:model => "enquiry" %> 
    <div class="tab-content" id="launch_id">

    </div>
</div>
