<%= content_for :content do %>
<script type="text/javascript">
$(function(){

  activeMM("usersMM");
  setColorsFromSession();


  $('li.roles_path').addClass('active-tab');
  $('td.role_name').hover(function(){
    $('span.delete_role').hide();
    $(this).find('span.delete_role').show();
  });
  
});

</script>
ADSFGUSDFASDLL
<div class="tab-container">
<%= render 'users/menus' %>
<div class="tab-content" style="display:block">
<div class="boxp box-theme-ch">

  <%=  yield %>

<br/>
<br/>
<br/>
</div>
</div>
</div>

<% end %>
<%= render template: "layouts/application" %>

